.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 20rem;
  .posts-container {
    min-height: 100vh;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .other-info-container {
    min-height: 100vh;
    border: 1px solid black;
  }
}
