$orange-red-light: rgb(244, 92, 37);

.base {
  padding: 1rem;
  width: auto;
  letter-spacing: 0.5px;
  line-height: 40px;
  padding: 0 20px 0 20px;
  font-size: 1rem;
  background-color: orangered;
  color: white;
  font-family: "Popins";
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $orange-red-light;
  }
  &.outline {
    background-color: white;
    border: 1px $orange-red-light solid;
    color: $orange-red-light;

    &:hover {
      background-color: $orange-red-light;
      color: white;
      // border: none;
    }
  }

  // &.inverted {
  //   background-color: white;
  //   color: black;
  //   border: 1px solid black;

  //   &:hover {
  //     background-color: black;
  //     color: white;
  //     border: none;
  //   }
  // }
}
