.home_container {
  padding: 120px 100px 80px;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
