.container {
  width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .title {
    font-size: 2rem;
    text-transform: capitalize;
  }
  .image-container {
    img {
      max-height: 200px;
    }
  }
}
