.container {
  padding: 50px 0;
  width: 1000px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (max-width: 1000px) {
    width: auto;
  }
  .title {
    font-size: 2rem;
    text-transform: capitalize;
  }
  .image-container {
    img {
      max-height: 200px;
    }
  }
  .button-container {
    display: flex;
    gap: 1rem;
  }
}
