/*  global classes */

/* section */
.container {
  width: 100%;
  margin: 0 auto;

  // max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
}
/*
===============
Slider
===============
*/
.title {
  text-align: center;
}
.title h3 {
  font-size: var(--fontM);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.section-center {
  margin: 0 auto;
  /* have to have a height */
  height: 400px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  @media screen and (max-width: 1000px) {
    height: 300px;
  }
}
.product-img {
  // width: 100%;
  height: 100%;
  // object-fit: cover;
  border-radius: var(--radius);
  border: 4px solid var(--clr-grey-8);
}

.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}

.prev,
.next {
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  background: transparent;

  color: var(--medgrey);
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  // border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  color: var(--medgrey);

  background: rgba(0, 0, 0, 0.035);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 1000px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    top: 200px;

    width: 4rem;
    height: 4rem;

    // height: 100%;
    font-size: 1.5rem;
  }
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: var(--dark-shadow);

  transition: var(--transition-slow);

  @media screen and (max-width: 1000px) {
    height: 300px;
  }
}
.image-container.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.image-container.lastSlide {
  transform: translateX(-100%);
}
.image-container.nextSlide {
  transform: translateX(100%);
}
