.container {
  width: 800px;
  height: 80px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  &:hover {
    background-color: rgb(254, 229, 221);
  }
  .image-container {
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .info-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    .category {
      text-align: end;
      font-weight: 300;
      font-size: 90%;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
    }
    .description {
      grid-column: 1/3;
    }
  }
}
